<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1063584916764-bos3mgvms40bqirl3h3u8k3138nf7n8m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1063584916764-bos3mgvms40bqirl3h3u8k3138nf7n8m</string>
	<key>API_KEY</key>
	<string>AIzaSyDtFOk7ooBUVCdCCZKuOHo41GtD8-yE84Y</string>
	<key>GCM_SENDER_ID</key>
	<string>1063584916764</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.round3BanaoFlutter</string>
	<key>PROJECT_ID</key>
	<string>round3bnaoflutter</string>
	<key>STORAGE_BUCKET</key>
	<string>round3bnaoflutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1063584916764:ios:e8242890af129d3ae3c6d9</string>
</dict>
</plist>